@model SapAgent.Entities.Concrete.Config.Scheduler

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Scheduler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuncId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuncId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EngineMethod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EngineMethod)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScheduleType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScheduleType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecurEvery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecurEvery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeekOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeekOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
